<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingListManager"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".ui.map.MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.ShoppingListManager" />
        <activity
            android:name=".ui.storelist.StoreListActivity"
            android:exported="false"
            android:label="@string/title_activity_store_list"
            android:theme="@style/Theme.ShoppingListManager" />
        <activity
            android:name=".ui.authentication.RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ShoppingListManager" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ShoppingListManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.options.OptionsActivity"
            android:exported="false"
            android:label="@string/title_activity_options"
            android:theme="@style/Theme.ShoppingListManager" />
        <activity
            android:name=".ui.productlist.ProductListActivity"
            android:exported="true"
            android:label="@string/title_activity_product_list"
            android:theme="@style/Theme.ShoppingListManager" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShoppingListManager" />

        <provider
            android:name=".contentprovider.ProductContentProvider"
            android:authorities="com.example.shoppinglistmanager"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.shoppinglistmanager.READ_DATABASE" />
    </application>

</manifest>